@media screen and (max-width: 1024px){

    .nav__toggle{
        display: inline-block;
        position: fixed;
        top: 50px;
        left: 40px;
        z-index: 1;  
    }
    .nav ul{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        padding: 80px 23px;
        background-color: black;
        height: 100%;
        opacity: 0.7;    
    }
    #nav__toggle:checked ~ ul{
        display: flex;
        flex-direction: column;    
    }
    .nav a{
        margin-left: 0px;
        margin-left: 15px;
        margin-right: 15px;   
    }
    .navigation{
        justify-content: center;
    }  
    .services__item{
        text-align: center;
        width: 278px;  
        margin: 0 10px; 
    }
    .section__footer> .conteiner__content{
        display: flex;
        justify-content: center;
        padding: 15px;
    }
    .footer__item .copyright{
        margin-right: 0px;
        padding-top: 15px;
    }
    .footer__item{
        flex-direction: column-reverse;

    }
}
@media  screen and (max-width: 1180px){
    .content__portfolio__item{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 -16px;  
    }
}
@media screen and ( max-width: 965px){
    .section__contact{
        height: auto;
    }
    .form__fieldset{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 -14px;
    }
    .btn__form{
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
@media screen and ( max-width: 843px){
    .conteiner__team__item{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .team__item{
        margin-bottom: 25px;
    }
    .team__description{
        padding-bottom: 50px;
    }
    .conteiner__logo{
        flex-wrap: wrap;
        justify-content: center;
      } 
}  
@media screen and (max-width: 1024px){
    .about__item{
        width: 80%;
        height: 274px;
        display: flex;
        border-right: none;
    }
    .about__item:nth-child(even){
        border-left: none; 
        border-right: none;
    }


    .about__item:nth-child(even){
        flex-direction: row;
        border-left: none; 
        border-right: none;
        margin-left: 0px;
    }
    .about__item:nth-child(even)>.about__text{
        text-align: left;
        padding-right: 120px;
        padding-left: 0px;
    }
    .about__text{
        text-align: left; 
    }
    .about__item:last-child{
        display: flex;
        justify-content: end;  
    }    
}
@media screen and (max-width: 880px){
    .conteiner__logo{
        flex-wrap: wrap;
        justify-content: center;   
    }
    .logo__item{
        margin: 25px 40px;
    }
}
@media screen and (max-width: 768px){
    .content__services__item{
        flex-direction: column;
        align-items: center;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .services__item{
        margin-bottom: 15px;
    }
}
@media screen and (max-width: 688px) {
    .about__item{
        flex-direction: column-reverse;
        align-items: center;
        height: auto;
        margin-bottom: 20px;
        width: auto;
    }
    .about__item:nth-child(even){
        flex-direction: column-reverse;
        align-items: center;
    }
    .about__img{
        border: 6px solid #f1f1f1;
        border-radius: 50%;
        margin-right: 0px;
        
        width: 168px;
        height: 168px;
    }
    .about__img:nth-child(even){
        margin-left: 0px;
    }
    .about__item:nth-child(even)>.about__text{
        text-align: center;
        padding-right: 0px;
    }
    .about__text{
        text-align: center;
        padding-right: 0px; 
    } 
    .about__item:last-child{
        display: flex;
        justify-content: center;
    }   
}
@media screen and (max-width: 636px){
    .conteiner__logo{
        flex-direction: column;
        align-items: center;    
    }
    .logo__item{
        margin: 20px 40px;
    }
}
@media screen and (max-width: 600px){
    .form__item input{
        width: 310px;    
    }
    .form__item__area textarea{
        width: 310px;
        height: 100px;
    }
}
@media screen and (max-width: 458px){
    .content__home h1{
        font-size: 55px;
        padding-top: 40px;
        padding-bottom: 30px;
    }
}
@media screen and (max-width:330px) {
    .footer__item{
        height: auto;
    }
    .copyright{
        text-align: center;
    }  
}