*{
    margin: 0px;
    padding: 0px;
}
.conteiner__content{
    max-width: 940px;
    width: 80%;
    margin: 0px auto;
}
.section.header{
    background-image: url(../img/background-section1.png);
    background-size: cover;
    height: 700px;
}
.navigation{
    display: flex;
    justify-content: space-between;
    padding-top: 48px;
}
.logo a{
    font-family: 'Satisfy', cursive;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 26px;
    line-height: 41px;
    font-weight: 400;
    color: #fed136;
}
.nav__toggle{
    border: none;
    background: none;
    display: none;
    position: relative;
}
.nav__toggle::before{
    font-family: 'fontawesome';
    content: '\f0c9';
    color: #fed136;;
    font-size: 24px;
}
.nav__toggle label{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#nav__toggle{
    display: none;
}

.nav ul{
    list-style: none;
    display: flex;
}
.nav a{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 41px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 38px;
}
.nav a:hover{
    color:#fed136;
}
.content__home{
    display: flex;
    color: #fff;
    height: 610px;
    align-items: center;
}
.content__home__item{
    text-align: center;
}
.content__home p{
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    font-weight: 400;
    font-style: italic;
}
.content__home h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 75px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 44px;
    padding-bottom: 54px;
}
.btn__header{
    width: 240px;
    height: 65px;
    background-color: #fed136;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    border: 0;
    outline: none;
}
.content__title{
    text-align: center;
    padding-top: 70px;
    padding-bottom: 80px;
}
.section__title{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
}
.section__title__description{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    color: #929292;
    padding-top: 20px;
}
.content__services__item{
    display: flex;
    padding-top: 76px;
    padding-bottom: 118px;
    justify-content: space-evenly;
}
.title__item{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #222222;
    padding-top: 24px;
    padding-bottom: 18px;
}
.item__description{
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    font-weight: 400;
    color: #929292;
}
.services__item{
    text-align: center;
    width: 278px;   
}
.service__icon{
    border: 3px solid #fed136;
    border-radius: 50%; 
    margin: 0px auto;
    height: 76px;
    width: 76px;
    color: #fed136;
    font-size: 42px;
    line-height: 84px;
}
.section.portfolio{
    background-color: #f7f7f7;
}
.content__portfolio__item{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px;  
}
.portfolio__item{
    width: 290px;
    height: 390px;
    text-align: center;
    background-color: #fff; 
    margin: 0 16px;
    margin-bottom: 50px;
}
.portfolio__img{
    height: 300px;
    width: 290px;
}
.about__item{
    width: 50%;
    height: 274px;
    display: flex;
    border-right: 3px solid #f1f1f1;  
}
 .about__item:nth-child(even){
    flex-direction: row-reverse;
    border-left: 3px solid #f1f1f1; 
    border-right: none;
    margin-left: auto;
}
.about__img:nth-child(even){
    margin-left: -90px;
}
.about__item:last-child{
    flex-direction: row-reverse;
    border: none;
}
.about__img{
    border: 6px solid #f1f1f1;
    border-radius: 50%;
    margin-right: -90px; 
    width: 168px;
    height: 168px;
}
.about__text{
    text-align: right;
    padding-right: 120px;
}
.about__item:nth-child(even)>.about__text{
    text-align: left;
    padding-right: 0px;
    padding-left:120px;
}
.section.team{
    background-color: #f7f7f7;
}
.conteiner__team__item{
    display: flex;
    justify-content: space-evenly;
}
.team__item{
    width: 236px;
    height: 348px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.team__img{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background-color: rgb(255, 253, 117);
}
.team__description{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 120px;
}
.team__social{
    display: flex;
    justify-content: center;
    padding-top: 12px;
}
.team__social__logo{
    display: inline-block;
    width: 41px;
    height: 41px;
    border: 3px solid #222222;
    border-radius: 50%;
    position: relative;
    margin-right: 10px;
}
.team__social__logo> a{
    position: absolute;
    top: 10px;
    left: 12px;  
}
.conteiner__logo{
    display: flex;
    justify-content: space-evenly;
}
.logo__item{
    margin-top: 58px;
    margin-bottom: 58px;
}
.section__contact{ 
    background-color: #222222;
}
.section__title.contact{
    color: #fff;
}
.form__fieldset{
    display: flex;
    justify-content: center;
    margin: 0 -14px;
}
.fieldset{
    margin: 0 14px;
}
.form__item{
    padding-bottom: 25px;
}
.form__item input{
    width: 456px;
    height: 50px;
}
.form__item__area textarea{
    width: 456px;
    height: 210px;
}
.btn__form{
    text-align: center;
    padding-bottom: 50px;
}
.btn__submit{
    width: 240px;
    height: 65px;
    background-color: #fed136;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    border: 0;
    outline: none;
}
.footer__item{
    display: flex;
    height: 90px;
    align-items: center;
}
.footer__item .copyright{
    margin-right: 118px;
}
.copyright>.section__title__description{
    padding-top: 0px;
}
.footer__social> span{
    display:inline-block;
    background-color: black;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    position: relative;
}
.footer__social a{
    position: absolute;
    top: 12px;
    left: 12px;
}
